<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <!-- <script src="https://cdn.socket.io/4.5.3/socket.io.esm.min.js"></script> -->
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
        integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
        crossorigin="anonymous"></script>
</head>
<script>
    var socket = io('http://localhost:3456');
    socket.on("topic", function (data) {
        document.getElementById("lux").innerHTML = ' *C';
        console.log(data)
    })
</script>

<body>
    <h1> Welcome </h1>
    <h1> Đây là chỗ first test Socket.io nhé !
    </h1>
    <h1 id="lux" style="color: green;"></h1>
</body>

<script>
    $(document).ready(function () {
        alert('Hello An ngu')
    })
</script>
</html>